@using BlazorApp.Components.Components

@page "/"

<form>
    <CustomInput Id="text1" Label="Text" Placeholder="Input a text here" Type="InputType.Text" @bind-Value="_text"/>
    <CustomInput Id="date1" Label="Date and time" Type="InputType.DateTime" @bind-Value="_date" />
    <CustomInput Id="email1" Label="Email" Placeholder="example@gmail.com" Type="InputType.Email" @bind-Value="_email" />
    <CustomInput Id="combo1" Label="Types" Type="InputType.Combobox" Items="@(new string[] { "Item 1", "Item 2", "Item 3"})" @bind-Value="_comboSelectedItem"/>        
</form>

<button @onclick="OnSubmit">Submit</button>

@code {

  private string _text;
  private string _date;
  private string _email;
  private string _comboSelectedItem;

  private void OnSubmit()
  {
      Console.WriteLine($"Text = {_text}\nDate = {_date}\nEmail = {_email}\nCombo = {_comboSelectedItem}");
  }
}